.btn-success {
    margin-right: 10px;
}

h2 {
    margin-top: 10px;
    font-weight: bold;
}

span {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 20px;
    font-style: italic;
}