<li [ngClass]="{'list-group-item': true,
'list-group-item-success': post.isLiked(),
'list-group-item-danger': post.isDisliked()}">
  <h2 [ngStyle]="{color: post.getColor()}">{{ post.title }}</h2>
  <span>{{ post.created_at | date: 'M/d/yyyy, h:mm a' | uppercase }} </span>
  <p>{{ post.content }}</p>
  <button class="btn btn-success"
  (click)="post.likePost()">Love it!</button>
  <button class="btn btn-danger"
  (click)="post.dislikePost()">Don't love it!</button>
</li>